.history-menu{
    display: flex;
    justify-content: space-between;
    font-size: 20px;
  }
  .history-menu h2{
    font-size: 30px;
  }
  
  .history-menu-btn{
    display: flex;
  }
  .history-filtred{
    margin-right: 30px;
  }
  .history-menu-btn button{
    padding: 4px;
    border: #000 solid;
  }
  
  .history-add-op img{
    height: 25px;
    width: 25px;
  }