#root{
  width: 1170px;
  margin: 0 auto;
}

.nav{
  display: flex;
  align-items: center;
  padding: 10px;
}

.nav li{
  margin-right: 20px;
  color: #000;
  font-family: Inter;
  font-size: 32px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.user-name{
  margin-left: auto;
}

.user-img{
  margin-left: auto;
}



